/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #404040;
	background-color: #f2f2f2;
}

p {
	font-size: 1.5em;
	margin-bottom: .5em;
}

h1,
h2,
h3,
a {
	color: #404040;
}

h2,
h3 {
	margin-top: 0;
}

a,
li,
ul {
	text-decoration: none;
}

img {
	max-width: 60%;
}

figure {
	margin-left: 20px;
	margin-right: 20px;
}

/* =================================
  Base Layout Styles
==================================== */
/* ---- Navigation top row---- */



.header {
   padding: 7px;
   margin-right: 5%;
   margin-left: 5%;
	 height: 80px;
}

.nav ul {
  text-align: right;
}

.name {
	display: inline-block;
	text-align:left;
	font-size: 1.8em;
	font-weight: bold;
	padding: 0 300px 0 0;
	margin: 0;
	text-transform: none;
}

.nav a {
  text-align: center;
  display: inline;
  padding: 10px 15px;
  font-size: 1.3em;
  color: #404040;
  text-transform: uppercase;
}

.nav a:hover {
	color: #b3b3b3;
}

.feat-img {
  width: 45%;
  float: right;
  margin: 5px 0 25px 25px;
  padding: 10px;
}

/*--------columns section-----*/

.flex-container {
	width: 90%;
	height: auto;
	padding: 5px;
}

.portfolio,
.contact {
	display: block;
	margin: 0 60px;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	padding: 30px;
}

.portfolio {
	flex-wrap: nowrap;

}
.images {
	display: center;
	padding: 0;
	width: auto;
}
/*--------footer section-----*/

.main-footer {
	padding: 50px;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

.contact {
	padding: 30px;
}

.personal {
	display: block;
	align: center;
	padding: 30px;
	font-size: 1.5em;
}

.secondary-footer {

}

.f-nav ul {
	text-align: center;
}

.f-nav li {
	text-decoration: none;
	display: inline-block;
  margin-left: 15px;
	list-style: none;
}

.f-nav a {
  text-align: center;
  display: inline;
  padding: 10px 15px;
  font-size: 1.3em;
  color: #404040;
  text-transform: uppercase;
}

.f-nav a:hover {
	color: #b3b3b3;
}


/******************************
Media Queries
*******************************/

@media screen and (min-width: 768px) {



.nav {
  float: right;
}

.nav li {
  display: inline-block;
  margin-left: 15px;
	list-style: none;
}

.f-nav li {
	display: inline-block;
  margin-left: 15px;
	list-style: none;
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.flex {
      max-width: 33%;
			padding: 5px;
}

.flex figcaption {
	text-align: center;
}


.flex img {
	max-width: 90%;
	margin: 5px;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 90%;
		margin: 0 auto;
}

.portfolio {
	flex-wrap: nowrap;
}

.main-container {
	width: 90%;
	background-color: white;
	justify-content: center;
	margin: 0 auto;
}

.flex-container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	flex-wrap: wrap;
	justify-content: center;
}

}
