/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #404040;
	background-color: #f2f2f2;
}

p {
	font-size: 1.7em;
	margin-bottom: .5em;
}

h1,
h2,
h3,
a {
	color: #404040;
}

a,
li,
ul {
	text-decoration: none;
}

img {
	max-width: 100%;
}

footer-nav {
	font-size: 1em;
}

/* =================================
  Base Layout Styles
==================================== */
/* ---- Navigation top row---- */

.header {
   padding: 7px;
   margin-right: 0;
   margin-left: 0;
	 height: 80px;
}

.nav ul {
  text-align: right;
}

.name {
	display: inline-block;
	text-align:left;
	font-weight: bold;
	padding: 5px 350px 0 0;
	margin: 0;
	text-transform: none;
}

.nav a {
  text-align: center;
  display: inline;
  padding: 10px 15px;
  color: #404040;
  text-transform: uppercase;
	font-size: 1.2em;
}

.nav a:hover {
	color: #b3b3b3;
}

.nav li {
  display: inline-block;
  margin-left: 15px;
	list-style: none;
	text-decoration: none;
}

.nav {
  float: right;
}

.feat-img {
  width: 50%;
  float: right;
  margin: 5px 0 25px 25px;
  padding: 10px;
}

/*--------columns section-----*/

.flex-container {
	width: 85%;
	height: auto;
	padding: 5px;
}

.portfolio,
.contact {
	display: block;
	margin: 0 60px;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	padding: 30px;
}

.portfolio {
	flex-wrap: nowrap;

}
.images {
	align-items: center;
	padding: 0;
	margin-left: inherit;
	max-width: 100%;
}

.flex {
  max-width: 33%;
	padding: 5px;
}

.flex figcaption {
	text-align: center;
	font-size: 1.2em;
	padding-left: 20px;
	padding-right: 20px;
}

.flex img {
	max-width: 90%;
	margin-left: 25px;
}

.flex-container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	flex-wrap: wrap;
	justify-content: center;
}

/*--------footer section-----*/

.main-footer {
	padding: 50px;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

.contact {
	padding: 30px;
}

.personal {
	display: block;
	padding: 30px;
	font-size: 1.5em;
}

/******************************
Media Queries
*******************************/

@media screen and (min-width: 768px) {


/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.container {
    width: 90%;
		margin: 0 auto;
}


@media screen and (min-width: 320px) {


.portfolio {
	flex-wrap: wrap;
}

.main-container {
	width: 90%;
	background-color: white;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: nowrap;
}
